html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  Font-family: arial;

  background: #C00077;
  background: linear-gradient(90deg,
      #C00077 0%,
      #221E3D 55%,
      #0F6175 100%);

}
.Inicio{
  position: relative;
  overflow: hidden;
}

/* Canvas de fondo */
.scalesCanvas{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1.5;           /* baja o sube a gusto */
  mix-blend-mode: screen;  /* prueba: screen / overlay / soft-light */
}

/* Asegura que tu contenido quede encima */
.Inicio > *:not(canvas){
  position: relative;
  z-index: 1;
}



#menu.barra {
  width: 95vw;
  margin: 4vh auto;
  /* padding: 14px 40px; */
  border-radius: 30vh;
  height: 22vh;
  display: flex;
  font-variant: small-caps;
  
  align-items: center;
  background: #264654;
  background: radial-gradient(circle, rgba(38, 70, 84, 1) 0%, rgba(150, 0, 90, 1) 94%);
  box-shadow: 5px 5px 30px 5px;

            >.logo {
              margin: 0;
              margin-right: 4vw;
            }

            >.logo img {
              width: 20vh;
              height: 20vh;
              inline-size: 1;
              margin-left: 8vh;
              border-radius: 15vw;
              border: 3px solid rgb(0, 0, 0);
              object-fit: cover;
            }


              >.lista {
                list-style: none;
                margin: auto;
               
                /* width: 120vh; */

                >.link {

                  text-decoration: none;
                  color: white;
                  font-size: 2vw;
                  transition: .25s;
                  padding: 2vw;

                  /* margin-right: 5vw; */
                }

                >.link:hover {
                  color: #C00077;
                }

                >.activo {
                  color: #96c0ff;
                }
              }

}

main {
  width: 95vw;
  height: 300vh;
  margin: auto;

          section {
              margin-bottom: 11vw;
              height: 60vh;
            }
            >.Inicio {
              /* margin: 2vh; */
              /* font-size: rem; */
              font-weight: bold;
            /* background-color: white; */
              p {
                font-family: 'Inter';
                font-size: 2.5rem;
                color:antiquewhite;
              text-align: center;
              padding-top: 15vh;
              }
            }


              >.SobreMi {
              font-size: 1.4rem;
              width: 95vw;
              /* height: 25vh; */
              background-color: aqua;
            }
  
            >.secciones {
              width: 95vw;
              /* height: 25vh; */
              text-align: center;
              font-size: 1.75rem;
              background-color: lightgray;

                        >.Proyecto {
                          font-size: 1.75rem;
                          display: flex;
                          width: 95vw;
                          /* height: 25vh; */
                          text-align: center;

                          /* background-color: lightgreen; */

                          >.proyecto1 {
                            font-size: 1.4rem;
                            background-color: magenta;
                                  width: 50vw;
                          /* height: 25vh; */
                          }

                          >.proyecto2 {
                            font-size: 1.4rem;
                            background-color: yellow;
                                  width: 50vw;
                          /* height: 25vh; */
                          }

                        }

            

              >.Contacto {
                font-size: 1.4rem;
                width: 95vw;
                /* height: 25vh; */
                background-color: lightcoral;
              }

    /* >.footer {
      display: flex;
      background-color: red;

      >.redes {}
    } */
  }

}
.footer{
  background-color: lightgray;
  /* text-align: center; */
  height: 18vh;
  width: 95hw;
  padding: 1rem;
  text-align: center;
  > p {
    font-size: 1rem;
    text-align: center;
  }
  >.info {
    font-size: 1.2rem;
    background-color: lime;
  }
}
/* Botongithubabajo */
.btn-github {
  cursor: pointer;
  gap: left;
  display: flex;
  
  border: none;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgb(0, 0, 0);
}
